<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='logo.ico' rel='shortcut icon' type='image/x-icon' />
    <title>Agregar tienda para pedidos</title>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap4.min.css">
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
    <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/responsive.bootstrap.min.css"> -->
    <!-- <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> -->
    <!-- <link href="dist/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="css/panel.css" rel="stylesheet">
    <!-- <link href="vendor/morrisjs/morris.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker3.standalone.css">
    <script defer src="js/fontawesome-all.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/buttons.bootstrap4.min.css">
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar" style="background-color: rgb(255, 110, 2)"> -->
    <nav class="navbar navbar-expand-lg navbar" style="background: url(img/FONDO.jpg) no-repeat; background-size: cover;">
      <a class="navbar-brand" href="#">
        <img src="logo.png" width="50" height="33" class="d-inline-block align-top" alt=""> Sistema de pedidos
      </a>
      <a class="navbar-brand" href="panel.html">
        <span class="navbar-text material-icons" data-toggle="tooltip" data-placement="bottom" title="Volver al panel">dvr</span>
      </a>
      <div id="campana" onclick="mostrarNotificaciones()" class="navbar-brand dropdown" data-toggle="tooltip" data-placement="bottom"
        title="Notificaciones">
        <a class="links-panel dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="far fa-bell"></span>
          <span id="spanNotificaciones" style="display: none;" class="badge badge-pill badge-danger"></span>
        </a>
        <div id="contenedorNotificaciones" class="dropdown-menu dropdown-alerts" aria-labelledby="dropdownMenuButton">
    
        </div>
      </div>
      <a href="" class="navbar-brand" id="btnPerfil">
        <img src="http://lorempixel.com/25/25/" alt="..." class="rounded-circle" data-toggle="tooltip" data-placement="bottom" title="Perfil">
      </a>
      <div class="navbar-brand dropdown" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión">
        <a class="links-panel dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-sign-out-alt"></i>
        </a>
        <div class="dropdown-menu dropdown-alerts" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" onclick="logout()">
            <span class="fas fa-power-off"></span> Cerrar sesión
          </a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2 class="page-header">Formulario de alta de producto para agentes:</h2>
        </div>
      </div> -->
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Formulario de alta de tienda para pedidos</h5>
              <form id="newShop" @submit.prevent="guardarTienda">
                <div class="form-group">
                  <label for="region">Región:</label>
                  <select v-model="region" class="form-control" id="region">
                    <option selected disabled value="Seleccionar">Seleccionar</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="clave">Clave:</label>
                  <input v-model="clave" type="text" class="form-control" id="clave" placeholder="Clave">
                </div>
                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input v-model="nombre" type="text" class="form-control" placeholder="Nombre" id="nombre">
                </div>
                <div class="form-group">
                  <label for="consorcio">Consorcio:</label>
                  <select v-model="consorcio" :value="consorcio" class="form-control" id="consorcio">
                    <option selected disabled value="Seleccionar">Seleccionar</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="ciudad">Ciudad:</label>
                  <input v-model="ciudad" type="text" class="form-control" placeholder="Ciudad" id="ciudad">
                </div>
                <button type="submit" class="pull-right btn btn-danger">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <script>if (typeof module  === 'object') {window.module = module; module = undefined;}</script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap4.min.js"></script>
    <script src="dist/js/bootstrap-select.js"></script>
    <script src="vendor/metisMenu/metisMenu.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap4.min.js"></script>
    <script src="js/dataTables.responsive.min.js"></script>
    <script src="dist/js/sb-admin-2.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker.es.min.js"></script>
    <script src="js/jquery.toaster.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/jspdf.debug.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyA19j6-VLNcXLJfBkfd_lZfFFbzg6z0Imc",
        authDomain: "xico-netcontrol.firebaseapp.com",
        databaseURL: "https://xico-netcontrol.firebaseio.com",
        projectId: "xico-netcontrol",
        storageBucket: "xico-netcontrol.appspot.com",
        messagingSenderId: "248615705793"
      };
      firebase.initializeApp(config);
    </script>
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/$VERSION/dragula.min.js'></script>-->
    <script src="js/moment-with-locales.js"></script>
    <script src="js/jspdf.min.js"></script>
    <script src="js/jspdf.plugin.autotable.js"></script>
    <script src="js/dataTables.buttons.min.js"></script>
    <script src="js/jszip.min.js"></script>
    <script src="js/pdfmake.min.js"></script>
    <script src="js/vfs_fonts.js"></script>
    <script src="js/buttons.print.min.js"></script>
    <script src="js/buttons.bootstrap4.min.js"></script>
    <script src="js/buttons.html5.min.js"></script>
    <script src="js/localforage.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="js/agregar.js"></script>
  </body>
</html>